.article-preview {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(137, 137, 211, 0.2); 
}
#shareOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    top: -60px; 
    left: 80%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 8px rgba(137, 137, 211, 0.2); 
    z-index: 2;
}


#shareOptions .triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #49556b ; 
    position: absolute;
    bottom: -10px; 
    left: 52%;
    transform: translateX(-50%);
  }
  
  .active-button {
    background-color:#49556b ;
    fill:  #fff ;
  }
